body {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(135deg, #050d3d, #3945ee)
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: bounceIn 1s ease-out infinite;

}

.card {
    background: white
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    border: 15px solid transparent;
    border-image: url(https://wallpapercave.com/wp/wp7866138.jpg) 30 stretch;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.card::after {
    position: absolute;

    background: url(https://wallpapercave.com/wp/wp7866138.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.3;
    z-index: 1;
}

.card {
    position: relative;
    z-index: 2;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-20px);
    }
}



.header h1 {
    font-size: 24px;
    color: #b2ccea;
    margin-bottom: 20px;
    animation: bounce 1.67s infinite;
    
}


.image img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 20px;
    border: 3px solid #333;
}

.message h2 {
    color: #000;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.message p {
    color: #555;
    line-height: 1.6;
    margin: 10px 0;
    font-size: 0.8rem;
}